.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    overflow: auto;
    text-align: center;
}

.block {
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 15px 10px 15px black;
    width:600px;
    background: white;
    border: solid #222236 1px;
}

body {
    background: #e5e5f7
}

.MyStyle{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height:600px;
    width:600px;
    background: #9541c4;
}

